{% import "macro.njk" as embeds %}
<div class="row post__wrapper">
  <div class="col-sm-12">
    <div class="block">
      <h1>{{ title }}</h1>
      <hr aria-hidden="true"/>

      <div role="contentinfo">
        <ul class="list-inline">
          {% if event.eventbrite %}
            <li>
              <a
            href="https://www.eventbrite.it/e/{{event.eventbrite}}"
            class="btn btn-warning"
            target="_blank"
            >Eventbrite</a
          >
            </li>
          {% endif %}
          {% if event.youtube %}
            <li>
              <a
            href="{{event.youtube}}"
            class="btn btn-danger"
            target="_blank"
            >Video</a
          >
            </li>
          {% endif %}
          {% if event.facebooklive %}
            <li>
              <a
            href="{{event.facebooklive}}"
            class="btn btn-danger"
            target="_blank"
            >Video</a
          >
            </li>
          {% endif %}
          {% if event.videogallery %}
            <li>
              <a
            href="https://vimeo.com/album/{{event.videogallery}}"
            class="btn btn-danger"
            target="_blank"
            >Video</a
          >
            </li>
          {% endif %}
          {% if event.foto %}
            <li>
              <a href="{{event.foto}}" class="btn btn-primary" target="_blank"
            >Foto</a
          >
            </li>
          {% endif %}
          {% if event.slides %}
            {%- for slide in event.slides %}
              <li>
                <a href="{{slide.url}}" class="btn btn-success" target="_blank">
                  {% if event.slides.length == 1 %} Slides {% else%} Slides
            {{slide.author}}
                  {% endif %}
                </a>
              </li>
            {%- endfor %}
          {% endif %}
        </ul>
      </div role="contentinfo">

      {{ content | safe }}
    </div>
  </div>
</div>

<hr aria-hidden="true"/>

<aside class="share">
  <h2 class="sr-only">Condividi su:</h2>
  <ul class="list-inline">
    <li aria-hidden="true">Condividi su:</li>
    <li>
      <a
        class="btn btn-info"
        target="_blank"
        href="http://www.facebook.com/sharer/sharer.php?u={{ site.url + page.url | urlencode }}"
      >
        <span aria-hidden="true" class="fa fa-facebook"></span> Facebook
      </a>
    </li>
    <li>
      <a
        class="btn btn-info"
        href="http://twitter.com/intent/tweet?text={{ title | urlencode }}&via=__fevr&url={{ site.url + page.url | urlencode }}"
      >
        <span aria-hidden="true" class="fa fa-twitter"></span> Twitter
      </a>
    </li>
    <li>
      <a class="btn btn-info" href="{{ site.url }}{{ page.url }}">
        <span aria-hidden="true" class="fa fa-link"></span> Permalink
      </a>
    </li>
  </ul>
</aside>
<hr aria-hidden="true"/>

<aside class="support list-inline">
  <h2 class="sr-only">Supportaci su:</h2>
  <ul class="list-inline">
    <li aria-hidden="true">Supportaci su:</li>
    <li>
      <a class="btn red-btn" target="_blank" href="{{site.social.patreon.url}}">
        <span aria-hidden="true" class="fa fa-link"></span> Patreon
      </a>
    </li>
  </ul>
</aside>

<div role="contentinfo">

  <!-- Youtube embed -->
  {% if event.youtube %}
    <hr aria-hidden="true"/>

    <div class="row youtube__wrapper">
      <div class="col-sm-6">
        {{ embeds.youtube(event.youtube) }}
      </div>
    </div>
  {% endif %}
  <!-- end of Youtube embed -->

  <!-- Facebook Live embed -->
  {% if event.facebooklive %}
    <hr/>

    <div class="row facebook__wrapper">
      <div class="col-sm-6">
        {{ embeds.facebooklive(event.facebooklive) }}
      </div>
    </div>
  {% endif %}
  <!-- end of Facebook Live embed -->

  <!-- Vimeo Videogallery embed -->
  {% if event.videogallery %}
    <hr aria-hidden="true"/>

    <div class="row vimeo-videogallery__wrapper">
      <div class="col-sm-12">
        {{ embeds.vimeo(event.videogallery) }}
      </div>
    </div>
  {% endif %}
  <!-- end of Vimeo Videogallery embed -->

  {% if event.slides %}
    <hr aria-hidden="true"/>

    <div class="row slides__wrapper">
      {% for slide in event.slides %}
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-4by3">
            {{ embeds.slides(slide) }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <!-- Eventbrite embed -->
  {% if event.eventbrite %}
    <hr aria-hidden="true"/>

    <div class="row eventbrite__wrapper">
      <div class="col-sm-12">
        {{ embeds.eventbrite(event.eventbrite) }}
      </div>
    </div>
  {% endif %}
  <!-- end of Eventbrite embed -->
  <!-- Post Navigation -->
  {% include "post-navigation.njk" %}
  <!-- end of Post Navigation -->
</div>