<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h3 class="lead">Hai un progetto? Hai bisogno di aiuto nell'organizzazione di corsi, eventi o vuoi proporti come speaker?</h3>
          <a class="btn btn-default btn-call-to-action" href="mailto:{{site.social.email}}" >SCRIVICI</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li>
              <a title="Eventi" href="/eventi">Eventi</a>
            </li>
            <li>
              <a title="Chi siamo" href="/#about">Chi siamo</a>
            </li>
            <li>
              <a title="Sponsor & Friends" href="/#sponsor">Sponsor & Friends</a>
            </li>
            <li>
              <a title="Contatti" href="/contact">Contatti</a>
            </li>
            <li>
              <a title="Codice di Condotta" href="/code-of-conduct">Codice di Condotta</a>
            </li>
          </ul>
        </div>
        <div class="social">
          <ul class="list-inline">
            <li>Find us on: </li>
            {% for id in['facebook', 'slack', 'twitter'] %}
              {% set social = site.social[id] %}
              <li>
                <a href="{{social.url}}" target="_blank">
                  <i class="fa fa-{{ social.icon | default(id) }}"></i>
                  {{ social.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <p>
          Theme by <a href="http://www.themefisher.com" target="_blank">Themefisher</a>
          -
          <a href="/sitemap.xml" target="_blank">Sitemap</a>
          -
          <a href="/feed.xml" target="_blank">
            <i class="fa fa-rss" style="color: #f26522"></i> Feed</a>

          <br>
          Copyright &copy; FEVR - Frontenders Verona. All rights reserved.<br>
          Developed with ❤️ by <a href="http://github.com/kino90" target="_blank">Luca Maroni</a>.
        </p>
      </div>
    </div>
  </div>
</footer>