<div class="row post__wrapper">
  <div class="col-sm-12">
    <div class="block">
      <h1>{{ title }}</h1>
      <hr/>
      <p>{{ content | safe }}</p>
    </div>
  </div>
</div>

<hr/>

<section class="share">
  <ul class="list-inline" aria-label="Condividi su">
    <li aria-hidden="true">Condividi su:</li>
    <li>
      <a
        class="btn btn-info"
        target="_blank"
        href="http://www.facebook.com/sharer/sharer.php?u={{ site.url + page.url | urlencode }}"
      >
        <i class="fa fa-facebook"></i> Facebook
      </a>
    </li>
    <li>
      <a
        class="btn btn-info"
        href="http://twitter.com/intent/tweet?text={{ title | urlencode }}&via=__fevr&url={{ site.url + page.url | urlencode }}"
      >
        <i class="fa fa-twitter"></i> Twitter
      </a>
    </li>
    <li>
      <a class="btn btn-info" href="{{ site.url + page.url | urlencode }}">
        <i class="fa fa-link"></i> Permalink
      </a>
    </li>
  </ul>
</section>

<!-- Post Navigation -->
{% include post-navigation.html %}
<!-- end of Post Navigation -->