<div class="row post__wrapper">
  <div class="col-sm-12">
    <div class="block">
      <h1>{{ title }}</h1>
      <hr aria-hidden="true"/>
      {{ content | safe }}
    </div>
  </div>
</div>

<hr aria-hidden="true"/>

<footer class="share">
  <p class="sr-only">Condividi su</p>
  <ul class="list-inline">
    <li aria-hidden="true">Condividi su:</li>
    <li>
      <a
        class="btn btn-info"
        target="_blank"
        rel="noopener"
        href="http://www.facebook.com/sharer/sharer.php?u={{ site.url + page.url | urlencode }}"
      >
        <span aria-hidden="true" class="fa fa-facebook"></span> Facebook
      </a>
    </li>
    <li>
      <a
        class="btn btn-info"
        href="http://twitter.com/intent/tweet?text={{ title | urlencode }}&via=__fevr&url={{ site.url + page.url | urlencode }}"
      >
        <span aria-hidden="true" class="fa fa-twitter"></span> Twitter
      </a>
    </li>
    <li>
      <a class="btn btn-info" href="{{ site.url + page.url | urlencode }}">
        <span aria-hidden="true" class="fa fa-link"></span> Permalink
      </a>
    </li>
  </ul>
</footer>

<!-- Post Navigation -->
{% include "post-navigation.njk" %}
<!-- end of Post Navigation -->