---
layout: page
title: Eventi
permalink: /eventi/
---
<!-- Slider Start -->
<section class="hero hero--events">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Scopri i nostri eventi.</h1>
          <p>Ti aspettiamo!</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% for post in site.categories.eventi %}
<a href="{{ post.url | prepend: site.baseurl }}" class="post-area">
  <span  class="post-title">{{ post.title }}</span>
  {% if post.category == 'eventi' %}
    <span class="post-date">{{ post.event.speaker }} - {{post.date | date: "%d/%m/%Y"}} - {{post.event.location}} </span>
  {% else %}
    <span class="post-date">{{ post.subtitle }} </span>
  {% endif %}
</a>
{% endfor %}
