---
layout: page
permalink: /
---

<!-- Slider Start -->
{% for post in site.categories['eventi'] limit:1 %}
<section id="slider" style="background-image: url({{ site.url }}/{{ post.assets.cover}})">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="block">
                    <h1 class="animated fadeInUp">{{post.title | upcase}}</h1>
                    <div class="animated fadeInUp buttons">
                        <p>
                            {{ post.event.speaker }} - {{post.event.date | date: "%d/%m/%Y"}} - {{post.event.location}}
                        </p>
                        <p>
                            <a href="{{ post.url | prepend: site.baseurl }}" class="btn yellow-btn">Dettagli</a>
                        </p>
                        <p>
                            Seguici su:<br>
                            <a href="{{site.social.facebook.url}}" target="_blank" class="btn blue-btn">Facebook</a>
                            <a href="{{site.social.slack.url}}" target="_blank" class="btn red-btn">Slack</a>
                            <a href="{{site.social.twitter.url}}" target="_blank" class="btn blue-btn">Twitter</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}


<!-- Wrapper Start -->
<section id="eventi">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Eventi</h2>
                        <p class="eventi-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, modi? <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet autem ea eius
                            expedita, impedit ipsum magnam nulla quos sint.
                        </p>


                        <ul class="row">
                            {% for post in site.categories['eventi'] limit:8 %}
                            <li class="col-sm-3 col-xs-12 evento-item-wrapper">
                                <a class="evento-item slide-down-hover" href="{{ post.url | prepend: site.baseurl }}">
                                    <span class="evento-img">
                                        <img class="img-rounded img-responsive center-block" src="{{ site.url }}/{{ post.assets.img500}}" alt="{{post.title}}">
                                    </span>
                                    <span class="evento-title line">{{post.title | upcase}}</span>
                                    <span class="evento-description">{{ post.event.speaker }} - {{post.event.date | date: "%d/%m/%Y"}} - {{post.event.location}}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div><!-- .col-md-7 close -->
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Chi siamo</h2>
                        <p>
                            FEVR promuove eventi e corsi sullo sviluppo frontend e delle interfacce digitali. <br>
                            Puoi contattarci alla nostra mail, sulla community Facebook oppure sul nostro canale Slack.
                        </p>
                    </div>
                    <div class="our-team">
                        <div class="row">

                            {% for member in site.team %}
                            <div class="col-lg-3 col-sm-3 col-xs-12 team-box">
                                <div class="team-member">
                                    <figure class="profile-pic">
                                        <img class="img-responsive center-block img-circle" src="{{ site.baseurl }}/{{member.img}}" alt="{{member.name}}">
                                    </figure>
                                    <div class="member-details">
                                        <h3 class="dark-text red-border-bottom">{{member.name | upcase}}</h3>
                                        <div class="position">{{member.role}}</div>
                                    </div>
                                    <div class="social-icons">
                                        <div class="row">
                                            {% for social in member.social %}
                                                <div class="col-xs-2 col-xs-push-2"><a href="{{social.url}}" target="_blank" title="{{member.name}} su {{social.name}}"><i class="fa white-text {{social.icon}}"></i></a></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div><!-- .col-md-7 close -->
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <h2>I nostri eventi</h2>

                <p>Collaboriamo con coworking e realtà locali da tre anni, organizzando un meetup mensile.</p>
                <p>Ospitiamo professionisti del settore dello sviluppo web affrontando qualsiasi tematica
                    sia relativa alle interfacce web.</p>
                <p>Parliamo principalmente di Javascript e CSS, spaziamo però dall'internet of things fino a
                    incontri sulla user experience.</p>
                <p>Organizziamo dal 2015 assieme al <a href="http://www.grusp.org/it/">GrUSP</a> la conferenza europea
                    "ReactJs Day" che coinvolge speaker da tutta europa e più di 200 partecipanti.</p>

                <a href="{{ site.baseurl }}/eventi" class="btn btn-view-works">Mostra gli eventi</a>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Sponsor &amp; Friends</h2>
                    <p>Tutto ciò che facciamo non sarebbe possibile senza le persone che ci supportano ogni giorno!</p>
                </div>
            </div>
        </div>
        <div class="row ">
            {% for sp in site.sponsor %}
            <div class="col-sm-6 col-md-3">
                <a class="sponsor-item slide-down-hover" href="{{sp.url}}" target="_blank">
                    <img src="{{ site.baseurl }}/{{sp.img}}" class="img-circle img-responsive center-block" alt="{{sp.name}}">
                    <!-- <h4>{{sp.name}}</h4> -->
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>