<div class="row post__wrapper">
    <div class="col-sm-12">
        <div class="block">
            <h1>{{ page.title }}</h1>
            <hr />

            <ul class="list-inline">
                {% if page.event.eventbrite %}
                <li><a href="https://www.eventbrite.it/e/{{page.event.eventbrite}}" class="btn btn-warning">Eventbrite</a></li>
                {% endif %}

                {% if page.event.youtube %}
                <li><a href="{{page.event.youtube}}" class="btn btn-danger">Video</a></li>
                {% endif %}

                {% if page.event.videogallery %}
                <li><a href="https://vimeo.com/album/{{page.event.videogallery}}" class="btn btn-danger">Video</a></li>
                {% endif %}

                {% if page.event.foto %}
                <li><a href="{{page.event.foto}}" class="btn btn-primary">Foto</a></li>
                {% endif %}

                {% if page.event.slides %}
                {% for slide in page.event.slides %}
                <li>
                    <a href="{{slide.url}}" class="btn btn-success">
                        {% if page.event.slides.size == 1 %}
                        Slides
                        {% else%}
                        Slides {{slide.author}}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
                {% endif %}

            </ul>

            <p>{{ content }}</p>
        </div>
    </div>
</div>

<!-- Youtube embed -->
{% if page.event.youtube %}
<hr />

<div class="row youtube__wrapper">
    <div class="col-sm-6">
        {% include youtube.html id=page.event.youtube %}
    </div>
</div>
{% endif %}
<!-- end of Youtube embed -->

<!-- Vimeo Videogallery embed -->
{% if page.event.videogallery %}
<hr />

<div class="row vimeo-videogallery__wrapper">
    <div class="col-sm-12">
        {% include vimeo-videogallery.html id=page.event.videogallery %}
    </div>
</div>
{% endif %}
<!-- end of Vimeo Videogallery embed -->

{% if page.event.slides %}
<hr />

<div class="row slides__wrapper">
    {% for slide in page.event.slides %}
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            {% if slide.type == 'slides' %}

                {% include slides.html id=slide.id %}

            {% else if slide.type == 'speakerdeck' %}

                {% include speakerdeck.html id=slide.id %}

            {% else %}

            <!-- Button fallback -->
            <a href="{{slide.url}}" class="btn btn-primary">Slides {{slide.author}}</a>
            <!-- end of Button fallback -->

            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


<!-- Eventbrite embed -->
{% if page.event.eventbrite %}
<hr />

<div class="row eventbrite__wrapper">
    <div class="col-sm-12">
        {% include eventbrite.html id=page.event.eventbrite %}
    </div>
</div>
{% endif %}
<!-- end of Eventbrite embed -->

<!-- Post Navigation -->
{% include post-navigation.html %}
<!-- end of Post Navigation -->
