<div class="row">

  <div class="col-xs-12">
    <hr />
  </div>

  {% if page.categories %}
    {% assign category = page.categories[0] %}
    {% assign posts = site.categories[category] %}

    {% for post in posts %}
      {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}

    {% for post in posts %}
      {% if post_index0 == forloop.index %}
        {% assign next_post = post %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post %}
      {% endif %}
    {% endfor %}
  {% endif %}


  <div class="col-xs-12 col-sm-6 post-navigation text-left">
    {% if next_post %}
    <a class="prev" href="{{next_post.url}}">&laquo; {{next_post.title}}</a>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-6 post-navigation text-right">
    {% if prev_post %}
    <a class="next" href="{{prev_post.url}}">{{prev_post.title}} &raquo;</a>
    {% endif %}
  </div>
</div>
