---
layout: default
---

<!-- Slider Start -->
<div class="hero event-hero hidden-xs" style="background-image: url({{ assets.cover | url }})"></div>

<div class="post">
  <!-- Wrapper Start -->
  <div id="intro">
    <div class="container">
      <div class="row">
        <article class="col-sm-9">
          {% include event-content.njk %}
        </article>
        <aside role="complementary" class="col-sm-3">
          {% include event-sidebar.njk %}
        </aside>
      </div>
    </div>
  </div>
</div>