---
layout: default
---

<!-- Slider Start -->
<div class="hero event-hero hidden-xs" style="background-image: url({{ cover }})"></div>

<div class="post">
  <!-- Wrapper Start -->
  <div id="intro">
    <div class="container">
      <div class="row">
        <article class="col-sm-9">
          {% include "event-content.njk" %}
        </article>
        <section class="col-sm-3">
          {% include "event-sidebar.njk" %}
        </section>
      </div>
    </div>
  </div>
</div>