<!DOCTYPE html>
<html class="no-js">

<!--__/\\\\\\\\\\\\\\\___________________________________________________________________-->
<!--__\/\\\///////////___________________________________________________________________-->
<!--___\/\\\____________________________________________________/\\\_____/\\\____________-->
<!--____\/\\\\\\\\\\\___/\\\\\\\\___/\\\____/\\\__/\\/\\\\\\\___\///___/\\\\\\\\\\\______-->
<!--_____\/\\\///////__/\\\/////\\\_\//\\\__/\\\__\/\\\/////\\\___/\\\_\////\\\////______-->
<!--______\/\\\________/\\\\\\\\\\\___\//\\\/\\\___\/\\\___\///___\/\\\____\/\\\_________-->
<!--_______\/\\\_______\//\\///////_____\//\\\\\____\/\\\__________\/\\\____\/\\\_/\\____-->
<!--________\/\\\________\//\\\\\\\\\\____\//\\\_____\/\\\_____/\\\_\/\\\____\//\\\\\____-->
<!--_________\///__________\//////////______\///______\///_____\///__\///______\/////____-->
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    
    {{ content }}

    {% include footer.html %}
    </body>
</html>
