---
layout: default
---

<!-- Slider Start -->
<section id="global-header" class="event-hero" style="background-image: url({{ site.url }}/{{ page.assets.cover}})"></section>

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          {% include event-content.html %}
        </div>
        <div class="col-sm-3">
          {% include event-sidebar.html %}
        </div>
      </div>
    </div>
  </section>

</div>


