{
  "root": true,
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "process": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-shadow": "warn",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "eqeqeq": "error"
  },
  "overrides": [
    {
      "files": ["**/*-worker.js"],
      "env": {
        "serviceworker": true
      }
    },
    {
      "files": ["**/netlify_functions/**/*.js"],
      "env": {
        "node": true
      }
    }
  ]
}
